/*estilo_carrito.css*/
    .text-pink { color: #E84988 !important; }
    .bg-pink { background-color: #E84988 !important; }
    .btn-nintendo-pink {
        background-color: #E84988;
        color: white;
        border: none;
        font-weight: bold;
        transition: all 0.2s;
    }
    .btn-nintendo-pink:hover {
        background-color: #d13a7a;
        color: white;
        transform: scale(1.02);
    }
    .table th { border: none; }